<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80);">
  <div class="container">
    <h1>Réserver <strong>votre prochain</strong><strong> séjour</strong>!</h1>
    <p>Le site n°1 de location d'appartements</p>
    <%= link_to "Découvrez tous nos appartements", flats_path, class: "btn btn-primary" %>
  </div>
</div>
